body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3e3e3b;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    padding: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
}

header img {
    width: 60px;
    vertical-align: middle;
}

header h1 {
    margin: 10px 0 5px;
}

main {
  padding: 30px;
  max-width: 70%;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(50, 50, 50);
  margin-top: 20px;
  border: 1px solid rgb(0, 0, 0);
  backdrop-filter: blur(10px);
}

section {
    margin-bottom: 30px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4e4ee9;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #1f1c6d;
}

footer {    
    margin-top: 20px;
    color: white;
    width: 100%;
    font-size: 0.7rem;
}

a {
    color: white;
    text-decoration: underline;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
}

th, td {
  padding: 14px 20px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1rem;
}

th {
  background-color: #163766;
  color: #fff;
  font-weight: 600;
}

tr:hover {
  background-color: #e6f0ff;
}

.approve {
    background-color: #28a745;
}

.approve:hover {
    background-color: #126724;
}

.decline {
    background-color: #dc3545;
}

.decline:hover {
    background-color: #7b0e19;
}



.bookingform h2 {
  color: #004aad;
  text-align: center;
  margin-bottom: 25px;
}

.bookingform form {
  display:flex ;
  flex-direction: column;
  gap: 5px;
}

.bookingform label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.bookingform input,
.bookingform select {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 1.65px solid #4b4747;
  font-size: 1rem;
  transition: 0.3s;
}

.bookingform input:hover,
.bookingform select:hover {
  border-color: #004aad;
  outline: none;
}

.bookingform p {
  margin: 0;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.4;
}